<div class="about-me">
    <div class="about-me-wrapper">
        <h2 class="title">O que você quer saber sobre mim?</h2>

        <div class="radio-input-wrapper">
            <div class="inputs">
                <input type="radio" name="bioLength" id="small" data-key="0">
                <input type="radio" name="bioLength" id="medium" data-key="1">
                <input type="radio" name="bioLength" id="big" data-key="2">
            </div>

            <div class="labels">
                <label for="bioLength">Pouco</label>
                <label for="bioLength">Muito</label>
            </div>
        </div>

        <div class="text-wrapper">
            <p class="text">
                {{ bioText }}
            </p>
        </div>
    </div>
</div>
