<nav class="navbar">
    <ul class="list">
        <li class="item">
            <label for="theme-switcher" class="icon light-mode">
                <img src="../../assets/images/light-mode.svg" alt="Ícone modo claro">
            </label>

            <input type="range" name="theme-switcher" min="0" max="1">

            <label for="theme-switcher" class="icon dark-mode">
                <img src="../../assets/images/dark-mode.svg" alt="Ícone modo escuro">
            </label>
        </li>

        <div class="center">
            <li class="item">
                <a routerLink="/">Página Inicial</a>
            </li>
            <li class="item">
                <a routerLink="/skills">Habilidades</a>
            </li>
            <li class="item">
                <a routerLink="/projects">Projetos</a>
            </li>
        </div>

        <li class="item">
            <a routerLink="/contact">Vamos conversar</a>
        </li>
    </ul>
</nav>
