@import '../../assets/styles/variables';
@import '../../assets/styles/utils';
@import '../../assets/styles/icons';

.container {
    .navbar-wrapper {
        padding-top: 50px;

        &.on {}

        .menu-toggle {
            display: none;
            height: 13px;

            .one, .two, .three {
                width: 20px;
                height: 3px;
                background-color: var(--onbg);
                transition: transform .3s ease;
            }

            .two, .three {
                margin-top: 2px;
            }

            &.open {
                .one {
                    transform: rotateZ(45deg);
                }
                
                .two {
                    transform: rotateZ(-45deg);
                    position: relative;
                    top: -5px;
                }
                
                .three {
                    display: none;
                }
            }
        }

        .navbar {
            .list {
                list-style: none;
                display: flex;
                justify-content: space-between;

                .item {
                    &:first-child {
                        display: flex;
                        align-items: center;

                        input[name="theme-switcher"] {
                            appearance: none;
                            border-radius: 10px;
                            background-color: var(--pri);
                            width: 50px;
                            margin: 0 5px 3px;
                            cursor: pointer;
                               
                            &::-webkit-slider-thumb {
                                -webkit-appearance: none;
                                width: 15px;
                                height: 15px;
                                border-radius: 50%;
                                background-color: var(--onpri);
                            }
                        }
                    }

                    a {
                        color: var(--onbg);
                        text-decoration: none;
                        font-size: 1.8rem;

                        &.link {
                            transition: font-weight 0.5s ease 0s;
                                
                            &:hover {
                                font-weight: 700;
                            }
                        }
                                
                        &.btn {
                            &:hover {
                                color: var(--bg);
                            }
                        }
                    }
                }

                .center {
                    display: flex;
                    width: 100%;
                    max-width: 400px;
                    justify-content: space-between;
                }
            }
        }
    }
}

.active {
    font-weight: bold;
}

@media screen and (max-width: 920px) {
    .container {
        .navbar-wrapper {
            .menu-toggle {
                display: block;
                z-index: 10;

                &.open {
                    padding-left: 85px;

                    .one {
                        transform: rotateZ(45deg);
                    }

                    .two {
                        transform: rotateZ(-45deg);
                    }

                    .three {
                        display: none;
                    }
                }
            }

            .navbar {
                display: none;
            }

            &.on {
                height: 100%;
                width: 100%;
                max-height: 100%;
                max-width: 100%;
                position: fixed;
                z-index: 1;
                top: 0;
                left: 0;
                background-color: var(--bg);
    
                .navbar {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    opacity: 1;
    
                    .list {
                        flex-direction: column;
                        width: 100%;
                        max-width: 200px;
                        text-align: center;
    
                        .item {
                            margin-top: 20px;
    
                            a {
                                width: 100%;
                                max-width: 200px;
                                text-align: center;
                            }
    
                            &:first-child {
                                justify-content: center;
                            }
                        }
    
                        .center {
                            flex-direction: column;
                        }
                    }
                }
            }
        }
    }
}

.d-block {
    display: block !important;
}
