<div class="navbar">
    <div class="container">
        <div class="navbar-wrapper">
            <div class="menu-toggle" (click)="menuToggle()">
                <div class="one"></div>
                <div class="two"></div>
                <div class="three"></div>
            </div>
            <nav class="list-wrapper">
                <ul class="list">
                    <li class="item">
                        <label for="theme-switcher" class="icon light-mode">
                            <span class="material-symbols-outlined">
                                light_mode
                            </span>
                        </label>
    
                        <input type="range" name="theme-switcher" min="0" max="1" (click)="changeMode($event)" value="0">
    
                        <label for="theme-switcher" class="icon dark-mode">
                            <span class="material-symbols-outlined">
                                dark_mode
                            </span>
                        </label>
                    </li>
    
                    <div class="center">
                        <li class="item initial" (click)="scroll($event)">
                            <a routerLink="/" class="link active initial" (click)="activeMenu($event)">Página inicial</a>
                        </li>
                        <li class="item skills" (click)="scroll($event)">
                            <a routerLink="/skills" class="link skills" (click)="activeMenu($event)">Habilidades</a>
                        </li>
                        <li class="item projects" (click)="scroll($event)">
                            <a routerLink="/projects" class="link projects" (click)="activeMenu($event)">Projetos</a>
                        </li>
                    </div>
    
                    <li class="item contact-us" (click)="scroll($event)">
                        <a routerLink="/contact" class="btn contact-us">Vamos conversar</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
