@import '../../assets/styles/utils';

.projects {
    .container {
        padding: 0 0 70px;

        .projects-header {
            padding: 30px 0 35px;
        }

        .projects-wrapper {
            display: flex;
            flex-wrap: wrap;
            gap: 50px;
            justify-content: center;

            .no-projects {
                font-size: 3rem;
                font-weight: bold;
            }
        }
    }
}
