<div id="contact">
    <div class="container">
        <div class="contact-header">
            <h2 class="title">
                Vamos conversar
            </h2>
        </div>

        <div class="content-wrapper">
            <div class="social-media-wrapper">
                <a href="https://wa.me/5521968566910" target="_blank" class="social-media">
                    <img src="../../assets/images/icon-whatsapp.svg" alt="Ícone whatsapp">
                </a>
                <a target="_blank" href="https://www.linkedin.com/in/rebecca-moura-646579207/" class="social-media">
                    <img src="../../assets/images/icon-linkedin.svg" alt="Ícone linkedin">
                </a>
                <a target="_blank" href="https://github.com/rebeccamoura" class="social-media">
                    <img src="../../assets/images/icon-github.png" alt="Ícone github">
                </a>
            </div>

            <div class="contact-info-wrapper">
                <div class="email">
                    <img src="../../assets/images/icon-email.svg" alt="Ícone e-mail">
                    <p>rebeccamouradev@gmail.com</p>
                </div>
                <a href="../../assets/curriculo_rebecca_moura.pdf" download="curriculo_rebecca_moura.pdf" class="curriculo">
                    <img src="../../assets/images/icon-curriculo.png" alt="Ícone currículo">
                    <p>Currículo - Clique para baixar</p>
                </a>
            </div>
        </div>
    </div>
</div>
