<div class="contact">
    <div class="container">
        <div class="contact-header">
            <h2 class="title">
                Vamos conversar
            </h2>
        </div>

        <div class="content-wrapper">
            <form action="https://formsubmit.co/rebeccamouradev@gmail.com" method="POST" class="contact-form">
                <input type="text" name="name" required class="name input" placeholder="Digite seu nome">
                <input type="email" name="email" required class="email input" placeholder="Digite seu melhor e-mail">
                <textarea name="content" rows="10" required class="content" placeholder="Me mande uma mensagem :)"></textarea>
                <input type="hidden" name="_captcha" value="false">
                <button type="submit" class="btn">
                    Enviar
                </button>
            </form>

            <p class="or">Ou</p>

            <div class="social-media-wrapper">
                <a href="https://wa.me/5521996928004" target="_blank" class="social-media">
                    <img src="../../assets/images/icon-whatsapp.svg" alt="Ícone whatsapp">
                </a>
                <a href="" class="social-media">
                    <img src="../../assets/images/icon-linkedin.svg" alt="Ícone linkedin">
                </a>
                <a href="" class="social-media">
                    <img src="../../assets/images/icon-github.png" alt="Ícone github">
                </a>

                <div class="email">
                    <img src="../../assets/images/icon-email.svg" alt="Ícone e-mail">
                    <p>rebeccaaruom@gmail.com</p>
                </div>
            </div>
        </div>
    </div>
</div>
