<div class="skills">
    <div class="container">
        <div class="skills-header">
            <h1 class="title">
                Habilidades
            </h1>
        </div>

        <div class="skills-wrapper">
            <div class="icon-wrapper">
                <img src="./assets/images/icon-html.svg" alt="Ícone do HTML5" class="icon">
                <h2 class="icon-label">HTML 5</h2>
            </div>
            <div class="icon-wrapper">
                <img src="./assets/images/icon-css.svg" alt="Ícone do CSS3" class="icon">
                <h2 class="icon-label">
                    CSS 3
                </h2>
            </div>
            <div class="icon-wrapper">
                <img src="./assets/images/icon-sass.svg" alt="Ícone do SASS" class="icon">
                <h2 class="icon-label">
                    SASS e SCSS
                </h2>
            </div>
            <div class="icon-wrapper">
                <img src="./assets/images/icon-bootstrap.svg" alt="Ícone do bootstrap" class="icon">
                <h2 class="icon-label">Bootstrap</h2>
            </div>
            <div class="icon-wrapper">
                <img src="./assets/images/icon-javascript.svg" alt="Ícone do javascript" class="icon">
                <h2 class="icon-label">Javascript</h2>
            </div>
            <div class="icon-wrapper">
                <img src="./assets/images/icon-typescript.svg" alt="Ícone do typescript" class="icon">
                <h2 class="icon-label">Typescript</h2>
            </div>
            <div class="icon-wrapper">
                <img src="./assets/images/icon-angular.svg" alt="Ícone do Angular" class="icon">
                <h2 class="icon-label">Angular</h2>
            </div>
            <div class="icon-wrapper">
                <img src="./assets/images/icon-node.svg" alt="Ícone do NodeJS" class="icon">
                <h2 class="icon-label">NodeJS</h2>
            </div>
            <div class="icon-wrapper">
                <img src="./assets/images/icon-git.svg" alt="Ícone do Git" class="icon">
                <h2 class="icon-label">Git</h2>
            </div>
            <div class="icon-wrapper">
                <img src="./assets/images/icon-github.png" alt="Ícone do Github" class="icon">
                <h2 class="icon-label">Github</h2>
            </div>
        </div>
    </div>
</div>
