@charset "UTF-8";
@import '../../assets/styles/variables';
@import '../../assets/styles/utils';

.skills {
    background-color: var(--pri);
    width: 100vw;
    position: relative;
    margin-top: 50px;

    .container {
        .skills-header {
            .title {
                padding: 30px 0;
            }
        }

        .skills-wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding-bottom: 70px;
            gap: 40px;

            .icon-wrapper {
                transition: transform .3s ease;

                .icon-label {
                    text-align: center;
                }

                &:hover {
                    transform: scale(1.2);
                }
            }
        }
    }
}

@media screen and (max-width: 502px) {
    .skills {
        .container {
            .skills-wrapper {
                .icon-wrapper {
                    .icon {
                        width: 100px;
                    }
                }
            }
        }
    }
}
