<div class="card">
    <img src="https://www.4devs.com.br/4devs_gerador_imagem.php?acao=gerar_imagem&txt_largura=300&txt_altura=200&extensao=png&fundo_r=0.06274509803921569&fundo_g=0.996078431372549&fundo_b=0.9568627450980393&texto_r=0&texto_g=0&texto_b=0&texto=Gerador%20Imagem%20%234Devs&tamanho_fonte=10" alt="Imagem projeto" class="image">

    <a href="#" class="card-link">
        <h3 class="card-title">
            Quiz Friends
        </h3>
        <p>Clique para abrir</p>
    </a>
</div>
