<div class="home">
    <div class="container">
        <div class="home-header">
            <h1 class="title">
                <span>Hello</span>
                World
            </h1>

            <div class="images">
                <img src="/src/assets/images/rebecca.png" alt="Rebecca Moura">
            </div>
        </div>

        <app-about-me></app-about-me>
    </div>

    <app-skills></app-skills>

    <app-projects></app-projects>

    <app-contact></app-contact>
    
    <app-footer></app-footer>
</div>
